body {
    background-color: black;
}

#container {
    width: 1050px;
    margin: 0 auto;
}

#brand {
    float: left;
}

h1 a {
    font-size: 50px;
    font-weight: 100;
    color: white;
    text-decoration: none;
}

#search-box {
    float: right;

}
